<div class="container">
  <h1 class="mb-4">Ofte stilte spørsmål (FAQ)</h1>
  
  <div class="accordion" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
          Hvordan lager jeg en quiz?
        </button>
      </h2>
      <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>For å lage en quiz, gå til "Lag quiz" i kontrollpanelet. Fyll ut tittel, beskrivelse, kategori og legg til spørsmål. Du kan velge mellom ulike spørsmålstyper som flervalg, sant/usant, og kort svar.</p>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
          Hvordan tar jeg en quiz?
        </button>
      </h2>
      <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>For å ta en quiz, gå til "Ta quiz" i kontrollpanelet. Velg en quiz fra listen og klikk på "Start quiz". Svar på spørsmålene og klikk på "Fullfør" når du er ferdig. Resultatene dine vil bli lagret og du kan se dem under "Mine resultater".</p>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
          Hva slags quizzer kan jeg lage?
        </button>
      </h2>
      <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>Du kan lage quizzer som er relatert til IT-emner, spesielt fra de tre programfagene i Vg2 IT:</p>
          <ul>
            <li>Programmering</li>
            <li>Databasesystemer</li>
            <li>Operativsystemer og nettverk</li>
          </ul>
          <p>Vi oppfordrer til kreativitet og variasjon i spørsmålene. Du kan lage quizzer med ulik vanskelighetsgrad og ulike formater.</p>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
          Kan jeg redigere quizzer jeg har laget?
        </button>
      </h2>
      <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>Ja, du kan redigere quizzer du har laget ved å gå til "Mine quizzer" i kontrollpanelet. Du kan endre tittel, beskrivelse, kategori og spørsmål. Du kan også slette quizzer du har laget.</p>
          <p>Merk at hvis noen allerede har tatt quizzen din, vil redigeringer ikke påvirke tidligere resultater.</p>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
          Hva er forskjellen mellom en bruker og en administrator?
        </button>
      </h2>
      <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>En vanlig bruker kan:</p>
          <ul>
            <li>Ta quizzer</li>
            <li>Lage og redigere egne quizzer</li>
            <li>Se sine resultater</li>
          </ul>
          <p>En administrator har i tillegg følgende muligheter:</p>
          <ul>
            <li>Administrere alle brukere (inkludert sletting)</li>
            <li>Slette quizzer laget av andre</li>
            <li>Håndtere rapporterte quizzer</li>
            <li>Tilgang til statistikk og analyser</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>